* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    font-size: 48px;
    width: 100%;
    padding: 15px;
    background-color: white;
}

header nav {
    display: flex;
    justify-content: space-between;
}

header nav h1 span {
    color: cornflowerblue;
}

header nav button {
    padding: 15px;
    background-color: white;
    border: none;
}

header nav button span{
    color: cornflowerblue;
    font-size: 48px;
}

header ul {
    list-style-type: none;
    margin: 15px;
    padding: 15px;
}
header ul li a {
    text-decoration: none;
    color: black;
}

li a {
    display: block;
}

header ul li a:hover {
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.24);
}

header ul li:visited {
    color: black;
}

.nav-menu{
    display: none;
    width:100%;
}

.show-links {
    display: block;
}

header nav button:hover {
    cursor: pointer;
    border: 5px solid cornflowerblue;
    padding:0;
    margin: 10px;
}